<!-- <nav class="dashboard-navbar">
    <div class="dashboard-navbar-left">
        <span class="dashboard-title">Dashboard</span>
    </div>
    <div class="dashboard-navbar-right">
        <div class="user-info">
            <img [src]="userPhoto" alt="User Photo" class="user-photo" />
            <span class="user-name">{{ userName }}</span>
            <button class="logout-btn" (click)="onLogout()" title="Logout">
                <i class="bi bi-power"></i>
            </button>
        </div>
    </div>
</nav> -->


<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav d-flex align-items-center">
                 <li class="nav-item cursor-pointer" (click)="onProfileChange()">
                   <span>Dashboard</span>
                </li>
                  <li class="nav-item cursor-pointer" (click)="onNotificationClick()">
                   <span>Files</span>
                </li>
                  <li class="nav-item cursor-pointer" routerLink="/notification" routerLinkActive="active">
                   <span>Notes</span>
                </li>
                  <li class="nav-item cursor-pointer" routerLink="/profile" routerLinkActive="active">
                   <span>Profiles</span>
                </li>
                <li class="nav-item">
                    <select class="form-select" style="min-width: 180px;" [(ngModel)]="loggedInProfileId" (change)="onProfileChange()">
                        <option *ngFor="let profile of profileList" [value]="profile.ProfileId">
                            {{ profile.Name }}
                        </option>
                    </select>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <img class="profile-pic" [src]="userPhoto" alt="User Photo" /> 
                    <span class="user-name ps-2">{{ userName }}</span>               
                </li>
                
                <li class="nav-item cursor-pointer" (click)="onLogout()" title="Logout">
                    <i class="bi bi-power"></i>
                </li>
            </ul>
        </div>
    </div>
</nav>