.navbar-nav {
    padding: 8px 9px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.15);
    gap: 1rem;

    .nav-item{
        font-size: 24px;

        .profile-pic{
            width: 45px;
            max-width: 45px;
            height: 45px;
            max-height: 45px;
            border: 1px solid;
            border-radius: 50%;
            overflow: hidden;

        }
    }
    
}
