<!-- <div class="modal-dialog modal-xl m-0">
    <div class="modal-content">
        <div class="modal-header p-1 bg-theam">
            <h3 class="modal-title h3 m-1"> Upload Image & Video </h3>
        </div>
        <div class="modal-body p-2">
            <div>
                <div class="row form-row m-0" >

                    <div class="col-md-4 col-sm-12 mb-3">
                        <div class="text-center">
                            <img [src]="imageUrl" style="width: 250px;height: 200px;">

                            <input type="file" #Image accept="image/*" (change)="handleFileInput($event)">
                            <angular-file-uploader [config]="afuConfig">
                            </angular-file-uploader>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="modal-footer p-1">
            <button type="button" class="btn btn-danger" (click)="bsModalSer.hide(1)" aria-label="Close">Close</button>
        </div>
    </div> -->

   

<div class="form-group mb-0" >

    <input type="file" class="form-control" (change)="handleFileInput($event)" accept="image/*,video/*">
    <!-- You can add a preview and upload button as needed -->

</div>