
<footer class="footer mt-auto py-3 bg-light fixed-bottom">
    <div class="container d-flex justify-content-between">
      <div>
        <span class="text-muted">Place sticky footer content here.</span>
      </div>
      
      <div>
        <ul class="list-group list-group-horizontal">
            <li class="list-group me-2">linkedin</li>
            <li class="list-group me-2">Telegram</li>
            <li class="list-group me-2">Github</li>
            <li class="list-group me-2">Massanger</li>
          </ul>
    </div>
    </div>
  </footer>