@import "variable";

.bg-theam-1{
    background-color: $color2;
}

.cursor-pointer {
    cursor: pointer;
}
.bg-theam-2{
    background-color: $color1;
}
.main{
    background-color:#f1f5f9;
}
.navbar-nav{
    padding: 8px 9px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.15);
    gap: 1rem;
    .nav-link{
        font-size: 16px;
        color: #f1f5f9;
        padding: 6px 8px;    
        &:hover {
            font-size: 16px;
            background-color: #60a5fa;
            border-radius: 20px;
        }
        &.active{
            font-size: 16px;
            background-color: #3b82f6;
            border-radius: 20px;
            // background-color: $color4;
        }
    }
 
}

.navbar{
    padding: 40px 80px;
    .navbar-brand{
        color: #fff;
    }
    .list-group-item{
        font-size: 24px;
    }
}

// .navbar-nav .show > .nav-link, .navbar-nav .nav-link.active {
//     color: #fff;
// }


.list-group-horizontal {
    .list-group-item{
        background: transparent;
        color: #18c2cb;
        cursor: pointer;

        &:hover {
            color: #fff;

        }
    }
  
}
