<div class="mt-5"> 
    <!-- <div class="top-background-image">
        <img style="height: 100vh;" class="w-100" src="../../assets/images/pexels-ekamelev.jpg" alt="">
    </div> -->
    
    <div class="container top-content-section  overflow-hiden">
        <div class="row">
            <div class="col-xs-12 col-sm-4 p-0">
                <img class="w-100 pe-sm-5" src="../../assets/images/image1.jpeg" alt="">
            </div>
            <div class="col-xs-12 col-sm-8 p-0">
                <h1>Hey, it's Carl</h1>
                <h3>I work as a Software Developer/Architect. I'm currently based in Aarhus, Denmark.</h3>
    
                <!-- <ul class="d-flex p-0">
                    <li class="rounded-pill">Home</li>
                    <li class="rounded-pill">Home</li>
                    <li class="rounded-pill">Home</li>
                    <li class="rounded-pill">Home</li>
                    <li class="rounded-pill">Home</li>
                </ul> -->
            </div>
        </div>
    </div>   
</div>


