<div class="main">

    <nav class="navbar navbar-expand-lg position-absolute w-100">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Carl Reid</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <div class="d-flex justify-content-center w-100">
                    <ul class="navbar-nav mb-2 mb-lg-0 rounded-pill">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Timeline</a>
                        </li>
                    </ul>
                </div>
    
                <div>
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item"><i class="bi bi-linkedin"></i></li>
                        <li class="list-group-item"><i class="bi bi-telegram"></i></li>
                        <li class="list-group-item"><i class="bi bi-github"></i></li>
                        <li class="list-group-item"><i class="bi bi-messenger"></i></li>
                        <li class="list-group-item"><i class="bi bi-box-arrow-in-right"></i></li>
                      </ul>
                </div>
            </div>
        </div>
    </nav>
    
    <div class="top-background-image">
        <img style="height: 100vh;" class="w-100" src="../../assets/images/pexels-ekamelev.jpg" alt="">
    </div>
    
    <div class="container top-content-section position-absolute overflow-hiden">
        <div class="row">
            <div class="col-xs-12 col-sm-4 p-0">
                <img class="w-100 pe-sm-5" src="../../assets/images/image1.jpeg" alt="">
            </div>
            <div class="col-xs-12 col-sm-8 p-0">
                <h1>Hey, it's Carl</h1>
                <h3>I work as a Software Developer/Architect. I'm currently based in Aarhus, Denmark.</h3>
    
                <!-- <ul class="d-flex p-0">
                    <li class="rounded-pill">Home</li>
                    <li class="rounded-pill">Home</li>
                    <li class="rounded-pill">Home</li>
                    <li class="rounded-pill">Home</li>
                    <li class="rounded-pill">Home</li>
                </ul> -->
            </div>
        </div>
    </div>
    
<!--     
    <div class="card container">
        <div class="card-body">
          <div class="row">
            <div class="col-xs-12 col-sm-4">
                <h1>Full Stack</h1>
                <h4>Over 10 years of experience working across Frond End, Back End, and DevOps</h4>
            </div>
            <div class="col-xs-12 col-sm-4">
                <h1>Full Stack</h1>
                <h3>Over 10 years of experience working across Frond End, Back End, and DevOps</h3>
            </div>
            <div class="col-xs-12 col-sm-4">
                <h1>Full Stack</h1>
                <h3>Over 10 years of experience working across Frond End, Back End, and DevOps</h3>
            </div>
          </div>
        </div>
    </div>

    <div class="heading container d-flex justify-content-between align-items-center p-0">
        <div>
            <h1>Timeline</h1>
            <h4>Below at my more recent work/projects from my timeline.</h4>
        </div>
        <div>
            <button>View All</button>
        </div>
    </div> -->


    <!-- <div class="container image-gallary p-0">
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <img src="../../assets/images/image2.jpeg" alt="BESTSELLER">
                        <div class="overlay">BESTSELLER - Software Architect<br>2019-06-01 -> Current</div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <img src="../../assets/images/image2.jpeg" alt="Coolblue">
                        <div class="overlay">Coolblue - Software Developer<br>2016-02-01 -> 2018-02-01</div>
                    </div>
                </div>
            </div>
                        
        </div>
    </div> -->
    
    
</div>




